{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>site javad khoshnood</title>
  <meta name="description" content="">
  <meta name="keywords" content="">



  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="{% static 'css/main.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Impact
  * Template URL: https://bootstrapmade.com/impact-bootstrap-business-website-template/
  * Updated: Aug 07 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body dir="rtl" class="index-page">

  <header id="header" class="header fixed-top">

    <div class="topbar d-flex align-items-center">
      <div class="container d-flex justify-content-center justify-content-md-between">
        <div class="contact-info d-flex align-items-center">
          <i class="bi bi-envelope d-flex align-items-center"><a href="javadkhoshnood194@gmail.com" style="font-size: 18px;">javadkhoshnood@gmail.com</a></i>
          <i class="bi bi-phone d-flex align-items-center ms-4"><span style="font-size: 18px;">09021632566</span></i>
        </div>
        <div class="social-links d-none d-md-flex align-items-center">
          <a href="#" class="twitter"><i class="bi bi-twitter-x"></i></a>
          <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
          <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
          <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
        </div>
      </div>
    </div><!-- End Top Bar -->

    <div class="branding d-flex align-items-cente">

      <div class="container position-relative d-flex align-items-center justify-content-between">
        <a href="index.html" class="logo d-flex align-items-center">
          <!-- Uncomment the line below if you also wish to use an image logo -->
          <!-- <img src="{% static "/img/logo.png" alt=""> -->
          <h1 class="sitename" style="font-size: 30px;">جواد خشنود </h1>
          <span>.</span>
        </a>

        <nav id="navmenu" class="navmenu">
          <ul>
            <li><a style="font-size: 22px;" href="#hero" class="active">صفحه اصلی <br></a></li>
            <li><a style="font-size: 22px;" href="#about">درباره من </a></li>
            <li><a style="font-size: 22px;" href="#services"> توانایی ها</a></li>
            <li><a style="font-size: 22px;" href="#porject"> پروژه ها  </a></li>
            <li><a style="font-size: 22px;" href="#zaban"> زبان ها  </a></li>

            <li><a style="font-size: 22px;" href="#contact">ارتباط با من </a></li>
          </ul>
          <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>

      </div>

    </div>

  </header>

  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section accent-background">

      <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
        <div class="row gy-5 justify-content-between">
          <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
            <h2><span>Welcome to </span><span class="accent">site javad khoshnood</span></h2>
            <p>در این صفحه شما با اطلاعات و رزومه کاری جواد خشنود  آشنا خواهید شد </p>
            <div class="d-flex">
              <a href="#about" class="btn-get-started" style="font-size: 22px;">درباره من </a>
              
            </div>
          </div>
          <div class="col-lg-5 order-1 order-lg-2">
            <img src="{% static 'img/hero-img.svg' %}" class="img-fluid" alt="">
          </div>
        </div>
      </div>

      <div class="icon-boxes position-relative" data-aos="fade-up" data-aos-delay="200">
        <div class="container position-relative">
          <div class="row gy-4 mt-5">

            <div class="col-xl-3 col-md-6">
              <div class="icon-box">
                <div class="icon"><i class="bi bi-easel"></i></div>
                <h4 class="title"><a href="" class="stretched-link">زبان های برنامه نویسی من </a></h4>
              </div>
            </div><!--End Icon Box -->

            <div class="col-xl-3 col-md-6">
              <div class="icon-box">
                <div class="icon"><i class="bi bi-gem"></i></div>
                <h4 class="title"><a href="" class="stretched-link">مهارت ها </a></h4>
              </div>
            </div><!--End Icon Box -->

            <div class="col-xl-3 col-md-6">
              <div class="icon-box">
                <div class="icon"><i class="bi bi-geo-alt"></i></div>
                <h4 class="title"><a href="" class="stretched-link">اطلاعات من </a></h4>
              </div>
            </div><!--End Icon Box -->

            <div class="col-xl-3 col-md-6">
              <div class="icon-box">
                <div class="icon"><i class="bi bi-command"></i></div>
                <h4 class="title"><a href="" class="stretched-link">نمونه کارهای من </a></h4>
              </div>
            </div><!--End Icon Box -->

          </div>
        </div>
      </div>

    </section><!-- /Hero Section -->

    {% block content %}



    {% endblock %}



    <footer id="footer" class="footer accent-background">

        <div class="container footer-top">
          <div class="row gy-4">
            <div class="col-lg-6 col-md-12 footer-about">
              <a href="index.html" class="logo d-flex align-items-center">
                <span class="sitename" style="font-size: 25px;">جواد خشنود</span>
              </a>
              <p style="font-size: 25px;">برای ارتباط با من و همکاری یا ثبت پروژه از طریق زیر اقدام کنید . </p>
              <div class="social-links d-flex mt-4">
                <a href=""><i class="bi bi-twitter-x"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
    
            <div class="col-lg-3 col-5 footer-links">
              <h4 style="font-size: 18px;">لینک های سایت </h4>
              <ul>
                <li><a href="#">صفحه اصلی</a></li>
                <li><a href="#about">درباره من</a></li>
                <li><a href="#services">توانایی ها </a></li>
                <li><a href="#porject">پروژه ها </a></li>
                <li><a href="#zaban">زبان ها </a></li>
                <li><a href="#contact">ارتباط با من </a></li>

              </ul>
            </div>
    
            <div class="col-lg-3 col-5 footer-links">
              <h4 style="font-size: 18px;">خدمات من  </h4>
              <ul>
                <li><a href="#">طراحی سایت وردپرس</a></li>
                <li><a href="#">طراحی سایت جنگو </a></li>
                <li><a href="#">طراحی پوستر </a></li>
                <li><a href="#">طراحی گرافیکی</a></li>
                <li><a href="#">طراحی اپلیکیشن اندروید </a></li>
                <li><a href="#">طراحی کارت ویزیت  </a></li>

              </ul>
            </div>
    
            
    
          </div>
        </div>
    
        
    
      </footer>
    
      <!-- Scroll Top -->
      <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
    
      <!-- Preloader -->
      <div id="preloader"></div>
    
      <!-- Vendor JS Files -->
      <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js'}"></script>
      <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>
      <script src="{% static 'vendor/aos/aos.js' %}"></script>
      <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
      <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
      <script src="{% static 'vendor/purecounter/purecounter_vanilla.js' %}"></script>
      <script src="{% static 'vendor/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
      <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
    
      <!-- Main JS File -->
      <script src="{% static 'js/main.js' %}"></script>
    
    </body>
    
    </html>