{% extends 'base.html' %}
{% block content %}
{% load static %}
 <!-- About Section -->
 <section id="about" class="about section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2 style="font-size: 20px;">درباره من <br></h2>
      <p style="font-size: 18px;">در این بخش می خواهم اطلاعات بنده رو در اختیار شما بذارم </p>
    </div><!-- End Section Title -->

    <div class="container">

      <div class="row gy-4">
        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
          <h3>بنده دانشجوی رشته نرم افزار دانشگاه نطنز هستم </h3>
          <img src="{% static 'img/about.jpg' %}" class="img-fluid rounded-4 mb-4" alt="">
          <p style="font-size: 18px;">من در سال 1401 وارد داشنگاه آزاد نطنز استان اصفهان شدم و در این رشته شروع به تحصیل کردم و تا الان که من در ترم 4 درحال درس خواندن هستم.</p>
          <p style="font-size: 18px;">با آغاز درس خواندن من در این رشته علاقه من به کامپیوتر و وب روز به روز بهتر و بهتر میشد تا اینکه تصمیم گرفتم به یادگیری زبان های مرتبط به وب ...</p>
        </div>
        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="250">
          <div class="content ps-0 ps-lg-5">
            <p class="fst-italic">
              علاقه زیادی به کامپیوتر و گرایش وب در این رشته دارم و یک سالی هست که بنده در این رشته به یادگیری مفاهیم وب می پردازم
            </p>
            <ul>
              <li><i class="bi bi-check-circle-fill"></i> <span style="font-size: 18px;">یادگیری html ,css</span></li>
              <li><i class="bi bi-check-circle-fill"></i> <span style="font-size: 18px;">یادگیری جاوااسکریپت </span></li>
              <li><i class="bi bi-check-circle-fill"></i> <span style="font-size: 18px;">یادگیری پایتون و فریم ورک های طراحی سایت</span></li>
            </ul>


            <div class="position-relative mt-4">
              <img src="{% static 'img/about-2.jpg' %}" class="img-fluid rounded-4" alt="">
              <a href="https://www.youtube.com/watch?v=Y7f98aduVJ8" class="glightbox pulsating-play-btn"></a>
            </div>
          </div>
        </div>
      </div>

    </div>

  </section><!-- /About Section -->


  <!-- Services Section -->
  <section id="services" class="services section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2 style="font-size: 20px;">توانایی ها  </h2>
      <p style="font-size: 18px;">در این بخش می خواهیم توانایی های من رو در خاتیار شما بذارم</p>
    </div><!-- End Section Title -->

    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
          <div class="service-item  position-relative">
            <div class="icon">
              <i class="bi bi-activity"></i>
            </div>
            <h3 style="font-size: 20px;">طراحی سایت با وردپرس</h3>
            <p style="font-size: 18px;">من دو سالی هست که در حوزه طراحی سایت با وردپرس فعالیت می کنم </p>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="bi bi-broadcast"></i>
            </div>
            <h3 style="font-size: 20px;">طراحی گرافیکی با فتوشاپ </h3>
            <p style="font-size: 18px;">من یک سالی هست که با فتوشاپ کار کرده و طراحی پوستر و طراحی کارت ویزیت و ... را انجام می دهم .</p>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="bi bi-easel"></i>
            </div>
            <h3>طراحی اپلیکیشن اندروید  </h3>
            <p>من دوسالی هست که در حوزه طراحی اپلیکیشن اندروید با اندروی استودیو و زبان جاوا فعالیت می کنم .</p>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="bi bi-bounding-box-circles"></i>
            </div>
            <h3 style="font-size: 20px;">طراحی سایت با جنگو </h3>
            <p style="font-size: 18px;">من سه ماهی است که با استفاده از پلتفرم جنگو طراحی سایت را انجام می دهم .</p>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="bi bi-calendar4-week"></i>
            </div>
            <h3 style="font-size: 20px;">برنامه نویسی با پایتون  </h3>
            <p style="font-size: 18px;">من سه سالی هست که با اسفاده از زبان پایتون برنامه نویسی را انجام می دهم .</p>
          </div>
        </div><!-- End Service Item -->


      </div>

    </div>

  </section><!-- /Services Section -->



  <!-- Portfolio Section -->
  <section id="porject" class="portfolio section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2 style="font-size: 20px;">پروژه ها </h2>
      <p style="font-size: 18px;">در یان بخش می خواهم نمونه کارها و پروژ های که انجام داده ایم را در اختیار شما بذارم .</p>
    </div><!-- End Section Title -->

    <div class="container">

      <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">


        <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">

         

          <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
            <div class="portfolio-content h-100">
              <a href="{% static 'img/portfolio/product-1.jpg' %}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'img/portfolio/product-1.jpg' %}" class="img-fluid" alt=""></a>
              <div class="portfolio-info">
                <h4><a style="font-size:20px" title="More Details"> طراحی پوستر 1</a></h4>
                <p>طراحی پوستر تبلیغاتی باشگاه ورزشی</p>
              </div>
            </div>
          </div><!-- End Portfolio Item -->

          <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-branding">
            <div class="portfolio-content h-100">
              <a href="{% static 'img/portfolio/branding-1.jpg' %}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'img/portfolio/branding-1.jpg' %}" class="img-fluid" alt=""></a>
              <div class="portfolio-info">
                <h4><a style="font-size:20px" title="More Details"> طراحی پوستر تبلیغاتی 2</a></h4>
                <p>طراحی پوستر تبلیغاتی خدمات کشاورزی</p>
              </div>
            </div>
          </div><!-- End Portfolio Item -->

          <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-books">
            <div class="portfolio-content h-100">
              <a href="{% static 'img/portfolio/books-1.jpg' %}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'img/portfolio/books-1.jpg' %}" class="img-fluid" alt=""></a>
              <div class="portfolio-info">
                <h4><a style="font-size:20px" title="More Details">طراحی سایت وردپرس 1 </a></h4>
                <p>طراحی سایت وردپرس سرکت لوله پاشا</p>
              </div>
            </div>
          </div><!-- End Portfolio Item -->

          <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
            <div class="portfolio-content h-100">
              <a href="{% static 'img/portfolio/app-2.jpg' %}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'img/portfolio/app-2.jpg' %}" class="img-fluid" alt=""></a>
              <div class="portfolio-info">
                <h4><a style="font-size: 20px;" title="More Details">طراحی سایت وردپرس 2 </a></h4>
                <p>طراحی سایت بادی دیزاین </p>
              </div>
            </div>
          </div><!-- End Portfolio Item -->

          <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
            <div class="portfolio-content h-100">
              <a href="{% static 'img/portfolio/product-2.jpg' %}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'img/portfolio/product-2.jpg' %}" class="img-fluid" alt=""></a>
              <div class="portfolio-info">
                <h4><a style="font-size:20px" title="More Details">طراحی سایت جنگو 1 </a></h4>
                <p>طراحی سایت جنگو شخصی </p>
              </div>
            </div>
          </div><!-- End Portfolio Item -->

          <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-branding">
            <div class="portfolio-content h-100">
              <a href="{% static 'img/portfolio/branding-2.jpg' %}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{% static 'img/portfolio/branding-2.jpg' %}" class="img-fluid" alt=""></a>
              <div class="portfolio-info">
                <h4><a style="font-size:20px" title="More Details">طراحی سایت جنگو 2 </a></h4>
                <p>طراحی سایت جنگو شخصی در لوکال 2 </p>
              </div>
            </div>
          </div><!-- End Portfolio Item -->

       

        </div><!-- End Portfolio Container -->

      </div>

    </div>

  </section><!-- /Portfolio Section -->

  <!-- Team Section -->
  <section id="zaban" class="team section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2 style="font-size: 20px;">زبان های برنامه نویسی</h2>
      <p style="font-size: 18px;">در این بخش می خواهم  زبان های برنامه نویسی که در ان مسلط هستم را در اختیار شما بذارم </p>
    </div><!-- End Section Title -->

    <div class="container">

      <div class="row gy-4">

        <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
          <div class="member">
            <img src="{% static 'img/team/team-1.jpg' %}" class="img-fluid" alt="">
            <h4>python </h4>
            <div class="social">
              <a href=""><i class="bi bi-twitter-x"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div><!-- End Team Member -->

        <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="200">
          <div class="member">
            <img src="{% static 'img/team/team-2.jpg' %}" class="img-fluid" alt="">
            <h4>java script </h4>
            <div class="social">
              <a href=""><i class="bi bi-twitter-x"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div><!-- End Team Member -->

        <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="300">
          <div class="member">
            <img src="{% static 'img/team/team-3.jpg' %}" class="img-fluid" alt="">
            <h4>java </h4>
            <div class="social">
              <a href=""><i class="bi bi-twitter-x"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div><!-- End Team Member -->


      </div>

    </div>

  </section><!-- /Team Section -->

 





  <!-- Contact Section -->
  <section id="contact" class="contact section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2 style="font-size: 20px;">ارتباط با من </h2>
      <p style="font-size: 18px;">برای ارتباط با من و همکاری و یا ثبت پروژه از طریق زیر اقدام کنید</p>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

      <div class="row gx-lg-0 gy-4">

        <div class="col-lg-4">
          <div class="info-container d-flex flex-column align-items-center justify-content-center">
            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="200">
              <i class="bi bi-geo-alt flex-shrink-0"></i>
              <div>
                <h3 style="font-size: 17px;">ادرس</h3>
                <p style="font-size: 17px;">بادرود خیبان امام خمینی خیابان پروینی کوی شهریار پلاک 21</p>
              </div>
            </div><!-- End Info Item -->

            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
              <i class="bi bi-telephone flex-shrink-0"></i>
              <div>
                <h3 style="font-size: 17px;">تماس با من </h3>
                <p style="font-size: 17px;">09021632566</p>
              </div>
            </div><!-- End Info Item -->

            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
              <i class="bi bi-envelope flex-shrink-0"></i>
              <div>
                <h3 style="font-size: 17px;">ایمیل من </h3>
                <p style="font-size: 17px;">javadkhoshnood194@gmail.com</p>
              </div>
            </div><!-- End Info Item -->

            

          </div>

        </div>

        <div class="col-lg-8">
          <form action="forms/contact.php" method="post" class="php-email-form" data-aos="fade" data-aos-delay="100">
            <div class="row gy-4">

              <div class="col-md-6">
                <input type="text" name="name" class="form-control" placeholder="Your Name" required="">
              </div>

              <div class="col-md-6 ">
                <input type="email" class="form-control" name="email" placeholder="Your Email" required="">
              </div>

              <div class="col-md-12">
                <input type="text" class="form-control" name="subject" placeholder="Subject" required="">
              </div>

              <div class="col-md-12">
                <textarea class="form-control" name="message" rows="8" placeholder="Message" required=""></textarea>
              </div>

              <div class="col-md-12 text-center">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>

                <button style="font-size: 20px;" type="submit">ارسال ایمیل</button>
              </div>

            </div>
          </form>
        </div><!-- End Contact Form -->

      </div>

    </div>

  </section><!-- /Contact Section -->

</main>
{% endblock %}